{% extends 'base.html.twig' %}

{% block title %}Hello CurrencyController!{% endblock %}

{% block body %}
    <h3>En düşük fiyatı veren providerlar</h3>
    <div class="container container-table">
        <div class="row vertical-center-row" >
            <div class="col-md-12">
                <table class="table table-dark">
                    <thead>
                    <tr>
                        <th scope="col"#></th>
                        <th scope="col">Birim</th>
                        <th scope="col">Tutar</th>
                        <th scope="col">Provider</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for euro in cheapEuro  %}
                        <th scope="row">{{ euro.id }}</th>
                        <td>{{ euro.symbol }}</td>
                        <td>{{ euro.quantity }}</td>
                        <td>{{ euro.ProviderId.name }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for dolar in cheapUsd  %}
                            <th scope="row">{{ dolar.id }}</th>
                            <td>{{ dolar.symbol }}</td>
                            <td>{{ dolar.quantity }}</td>
                            <td>{{ dolar.ProviderId.name }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for gbp in cheapGbp  %}
                            <th scope="row">{{ gbp.id }}</th>
                            <td>{{ gbp.symbol }}</td>
                            <td>{{ gbp.quantity }}</td>
                            <td>{{ gbp.ProviderId.name }}</td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>



{% endblock %}
